
*{
  font-family: 'Inter', sans-serif;

}

body {
    background-color: #071121 ;
    color: white;
    font-size: 24px;
    margin: 0;
}

.container{
  width: 1440px;
  margin: 0 auto;


}
.maintheme {
    display:flex;
    width: 100%;
    height: 100vh;
    background: url(./imgs/zastavka.jpg) no-repeat center;
    background-size: cover;
}
/*помогите*/
.section {
    padding-top: 170px;
    padding-bottom: 200px; 

}
.intro {
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 600px;
    
}
.part1_title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  
}

p{
  font-size: 24px;
}

.z_wrapper {
    position: relative;
    top: 0px;
    right: 30px;
  }
  .z_block {
    width: 485px;
    height: 395px;
    border-radius: 40px;
  }
  .y_block {
    position: absolute;
    width: 415px;
    height: 335px;
    border-radius: 40px;
  }
  .z1 {
    background: url(./imgs/woozi\(inf\)\ 1.png) no-repeat center;
    background-size: cover;
    z-index: 1;
    margin-left: 150px;
  }
  .y2 {
    background: url(./imgs/woozi\(inf\)\ 2.png) no-repeat center;
    background-size: cover;
    z-index: 2;
    margin-left: 185px;
    top: 30px;
  }

 
  h1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 200px;
}




  .container_2{
    padding-top:auto;
    margin-top: 300px;
    
    
  }

  .slider-wrapper{
    position: relative;
    max-width: 50rem;
    margin:  auto;
  }

  .slider{

  display: flex;
  aspect-ratio: 1 / 1;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  border-radius: 40px;
  -ms-overflow-style: none; 
	scrollbar-width: none;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slider img{
    flex: 1 0 100% ;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-top: 40px;

  }

  .slider-nav a {
    width: 25px;
    height:  25px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 0.75;
	  transition: opacity ease 200ms;
  
    
  }

  .slider-nav a:hover {
    opacity: 1;
    background-color: white;
  }

h3{
  font-size: 24px;
  font-weight: lighter;
  margin-top: 210px;
  text-align: center;
}

  h2{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 225px;
    margin-top: 225px;
    padding-bottom: 100px;

  }



  .z_block_3{
    width: 100vw;
    height: 445px;
    background-color: #8F0000;
    padding-top: 15px;
    margin-top: 200px;
    border-radius:  30px 30px 0px 0px;
    

  }

  .z_block_text{
    text-align: center;
    align-items: center;
    padding-top: 32px;
    margin-top: 100px;


  }

  .container_3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./imgs/snapedit_1699347313049.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1000px;

    
  }

  .container_3_form{
    width: 650px;
    height: 485px;
    /*background: #799bd1; */
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    box-shadow: 0 0px 1px rgba(0,0,0,0.12), 
    0 0px 2px rgba(0,0,0,0.12), 
    0 0px 4px rgba(0,0,0,0.12), 
    0 0px 8px rgba(0,0,0,0.12),
    0 0px 16px rgba(0,0,0,0.12);
    color: white;
  }

  .container_3 input-box{
    font-size: 24px;
    position: relative;
    width: 100%;
    height: 400px ;
    color: #D9D9D9;
    

  }

  .input-box input{
    margin: 50px;
    width: 75%;
    height: 75px;
    border-radius: 40px;
    border: none;
    margin: 45px 75px;
    background-color: #ffffff;

  }

.input-box input::placeholder{
  color: rgb(0, 0, 0);
  font-size: 24px;
  padding: 0px 30px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 75px;
  border: 2px solid rgba(0, 0, 0, 0.1);;
  border-radius: 40px;
  border: none;
  margin: 45px 75px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0px auto;
}