*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
}
:root{
    --index:calc(1vw + 1vh)

}

@font-face {
    font-family: casper_f ;
    src: url(../fonts/Casper.ttf);
}

@font-face {
    font-family: casper_f ;
    src: url(../fonts/CasperBold.ttf);
    font-weight: 900;
}

body{
    background-color: #071121;
    color: white;
    font-family: casper_f, sans-serif;
    line-height: 1.5;
}

.main-header{
    position: relative;
}

.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
}

.layers_base{
    transform: translate3d(0, calc( var(--scrollTop) / 2 ), 0 );
    z-index: 0;
}

.layers_middle {
    transform: translate3d(0, calc( var(--scrollTop) / 2.5 ), 0 );

}

.layers_front {
    transform: translate3d(0, calc( var(--scrollTop) / 5.7 ), 0 );

}

.layer_header{
    z-index: 1;
    transform: translate3d(0, calc( var(--scrollTop) / 5.7 ), 0 );
    text-transform: uppercase;
    will-change: transform;
    font-weight: 1900;
}

.layers_title{
    font-size: calc(var(--index) * 5 );
}

.main-article{
    min-height: 100vh;
}